* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Da 2', cursive;
}

.nav {
  font-size: 1.2rem;
  background-image: url(/images/brown-and-green-grass-field-during-sunset-1237119.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  height: 100vh;
  width: 100vw;
}

.mobile-nav-container {
  list-style: none;
  display: flex;
  align-items: center;
  color: #fff;
}

.mobile-nav-container > li {
  margin: 0.8rem;
}

.mobile-nav-container li:nth-child(2) {
  margin-right: auto;
  text-transform: uppercase;
  font-family: 'Baloo Da 2', cursive;
}

.hamburger {
  list-style: none;
}

.hamburger li > span {
  width: 25px;
  height: 4px;
  background-color: #fff;
  display: block;
  margin-bottom: 3px;
  border-radius: 1px;
}
.desktop-nav-container > span {
  margin-right: 10px;
}

.desktop-nav-container span > a {
  font-family: 'Baloo Da 2', cursive;
  color: #fff;
  text-decoration: none;
}

.landing-page {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}
.landing-page i {
  margin-top: 18rem;
  font-size: 4rem;
}

@media (max-width: 700px) {
  .desktop-nav-container {
    display: none;
  }

  .nav {
    background-position: center;
  }

  .landing-page {
    margin-top: 10rem;
  }

  .landing-page i {
    margin-top: 10rem;
  }
}

@media (min-width: 700px) {
  .hamburger-container {
    display: none;
  }
}
